[Unit]
Description=Yet Another Notification Daemon
PartOf=graphical-session.target
After=graphical-session.target
BindsTo=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/yand
ConditionEnvironment=WAYLAND_DISPLAY

[Install]
WantedBy=graphical-session.target
